In [1]:
import numpy as np
import pandas as pd

In [4]:
from pandas_datareader import data as wb
import yfinance as yf
from datetime import datetime
yf.pdr_override()

# Fix pdr reference
# https://www.learnpythonwithrune.org/fix-get_data_yahoo-from-pandas-datareader/

### Getting Data from Yahoo Finance

In [6]:
PG = wb.get_data_yahoo('PG', start=datetime(1995, 1, 1))

[*********************100%***********************]  1 of 1 completed

In [7]:
PG

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1995-01-03,15.468750,15.625000,15.437500,15.593750,7.771260,3318400
1995-01-04,15.531250,15.656250,15.312500,15.468750,7.708963,2218800
1995-01-05,15.375000,15.437500,15.218750,15.250000,7.599948,2319600
1995-01-06,15.156250,15.406250,15.156250,15.281250,7.615525,3438000
1995-01-09,15.343750,15.406250,15.187500,15.218750,7.584377,1795200
...,...,...,...,...,...,...
2023-03-06,140.729996,141.139999,139.940002,140.350006,140.350006,4943100
2023-03-07,140.429993,140.619995,137.339996,137.559998,137.559998,5606800
2023-03-08,137.199997,137.690002,136.600006,137.580002,137.580002,5518800
2023-03-09,138.149994,138.559998,136.100006,136.570007,136.570007,4467200
2023-03-10,136.949997,137.990005,136.350006,137.190002,137.190002,5908500

In [8]:
PG.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-03-06,140.729996,141.139999,139.940002,140.350006,140.350006,4943100
2023-03-07,140.429993,140.619995,137.339996,137.559998,137.559998,5606800
2023-03-08,137.199997,137.690002,136.600006,137.580002,137.580002,5518800
2023-03-09,138.149994,138.559998,136.100006,136.570007,136.570007,4467200
2023-03-10,136.949997,137.990005,136.350006,137.190002,137.190002,5908500

In [9]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7097 entries, 1995-01-03 to 2023-03-10
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       7097 non-null   float64
 1   High       7097 non-null   float64
 2   Low        7097 non-null   float64
 3   Close      7097 non-null   float64
 4   Adj Close  7097 non-null   float64
 5   Volume     7097 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 388.1 KB

In [10]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.get_data_yahoo(t, start=datetime(1995, 1, 1))['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [11]:
new_data

                    PG        MSFT          T          F         GE
Date
1995-01-03    7.771258    2.346930   2.647018   3.970338  25.531651
1995-01-04    7.708965    2.363990   2.640282   4.077163  25.531651
1995-01-05    7.599952    2.324997   2.681537   4.041555  25.594227
1995-01-06    7.615525    2.363990   2.681537   4.041555  25.469065
1995-01-09    7.584376    2.349366   2.673288   4.112771  25.218756
...                ...         ...        ...        ...        ...
2023-03-06  140.350006  256.869995  18.770000  12.980000  87.059998
2023-03-07  137.559998  254.149994  18.709999  12.830000  86.389999
2023-03-08  137.580002  253.699997  18.610001  12.980000  86.980003
2023-03-09  136.570007  252.320007  18.320000  12.450000  91.559998
2023-03-10  137.190002  248.589996  18.430000  12.100000  91.000000

[7097 rows x 5 columns]

In [12]:
new_data.tail()

                    PG        MSFT          T      F         GE
Date
2023-03-06  140.350006  256.869995  18.770000  12.98  87.059998
2023-03-07  137.559998  254.149994  18.709999  12.83  86.389999
2023-03-08  137.580002  253.699997  18.610001  12.98  86.980003
2023-03-09  136.570007  252.320007  18.320000  12.45  91.559998
2023-03-10  137.190002  248.589996  18.430000  12.10  91.000000

### Getting data with Quandl

In [18]:
import quandl

In [19]:
mydata_qndl = quandl.get('FRED/GDP')

In [20]:
mydata_qndl.tail()

                Value
Date
2020-10-01  21477.597
2021-01-01  22038.226
2021-04-01  22740.959
2021-07-01  23202.344
2021-10-01  23992.355

In [21]:
mydata_qndl.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742